body {
    background: lightgray;
    font-size: 16px;
    margin: 0;
}

#content {
    margin: 16px;
}

#headerTitle {
    background-color: #222222;
    color: #FAFAFA;
    text-align: center;
    
    margin: 0;
    padding: 10px;
}

#navArea {
    margin-top: 0;
    padding: 0;
    text-align: center;
}

#navArea li {
    display: inline;
    margin-right: 32px;
    font-size: 1.1em;
}

#articleTitle {
    margin-top: 16px;
}

#pic-1 {
    width: 80%;
}
