body {
    background: lightgray;
    font-size: 16px;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

#content {
    margin: 16px 16px 0;
}

#headerTitle {
    background-color: #222222;
    color: #FAFAFA;
    text-align: center;
    
    margin: 0;
    padding: 10px;
}

#navArea {
    margin-top: 16px;
    padding: 0;
    text-align: center;
}

#navArea li {
    display: inline;
    margin-right: 32px;
    font-size: 1.1em;
}

#articleTitle {
    margin: 12px 0 8px;
}

#facts {
    float: left;
}

li {
    font-size: 0.93em;
}

#pic-1 {
    width: 300px;
    margin: 30px;
    float: right;
    border-radius: 10%;
    border: 2px solid black;
}

#rodape {
    background-color: lightgreen;
    padding-right: 10px;
    /* text-align: right; */
}
