body {
    font-size:16px;
    background-color: rgb(214, 214, 214);
}

h1 {
    font-size: 65px;
    font-family: sans-serif;
    color: orange;
    text-align: center;
}

p {
    font-weight: 600;
    font-size: 3em;
    font-style: italic;
}

ul {
    background-color: blue;
    font-size: 1.5em;
    line-height: 1.25em;
}

.bgcolor {
    background-color: rgb(180, 0, 180);
}

#amarelo {
    background-color: yellow;
}

#vermelho {
    background-color: red;
}
  
#marrom {
    background-color: #964b00;
}

#verde {
    background-color: green;
    text-decoration: line-through;
}

#notcriative {
    font-size: 0.75em;
    font-style: normal;
}

img {
    width: 250px;
}